<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AppTracker.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AppTracker.Settings1>
            <setting name="RSAKey" serializeAs="String">
                <value>
&lt;RSAKeyValue&gt;
&lt;Modulus&gt;xk83Z2un3RIYjaVi4QqbIfJbMirW3GdHQ9pHmkSkXJmTKD4MARa0M0WP5Vaeal7zmADTjhf5YFuMpYfz+gCFea9+fgcTP39G6223ffEXYPW/WlvplbB2xIGLzroByXQKo954i68I2pJvYbOh4DWMsCunpmBJR/4dxwLvr5vxk3s=&lt;/Modulus&gt;
&lt;Exponent&gt;AQAB&lt;/Exponent&gt;
&lt;P&gt;84BKbDNCjngyVQRwqcgVu2ts5PGE/b2w5jDz9WvQZcAsGN133pAJwSpo6wkNeSuk+Ass4iO1EII2rntAGFuKmQ==&lt;/P&gt;
&lt;Q&gt;0H0WYvneBq0ylmSEjv/7KR44lpL/CtB60BIyMYoKyulrmakufHkOHgKvlKVRZHn2RGLG81jLtHGUegkdbQYPMw==&lt;/Q&gt;
&lt;DP&gt;zH/yAO0L+Jr5qm0QMYbYuY5+5cfw6SlmZ+y09miVnN7IKhnVkhVmG9SCSOJRbnI5GhhImaNjbXnucpsQOWSoAQ==&lt;/DP&gt;
&lt;DQ&gt;hxDSZPKM9PRVdnrOKboKI1wxutKmKYJgXdW78L4GOeg4Tgb9V6QxEh4ZU4o6DYa5lRoM22+mIFMIpnqrNosbYw==&lt;/DQ&gt;
&lt;InverseQ&gt;uKoqptfPLX/43wJXOKY3gz59ESrft3l51Ex8bKGHf7lhyR0zW4d/6mzCjqpgwo0Vtam5K6OnuX5qlnWVWTdxrw==&lt;/InverseQ&gt;
&lt;D&gt;OxfV8aqB3f2LdYIIAflQGwCGLl/XoNvhv5Vm6tBzjehxkndSymxCjFi5NWTnVdkvi2cLo3b/Z7hAI/9sM14+Z2q1EcjbePDZxqRD1LffYoOOVnTbiTRYulcxMpKG5pwLaj4aGfU67IDQStIBSNSx1mom7k4wEVm2agc/Hbn9czE=&lt;/D&gt;
&lt;/RSAKeyValue&gt;</value>
            </setting>
        </AppTracker.Settings1>
    </applicationSettings>
</configuration>